
<body>
		<div class="container" style='padding-top: 100px'>
	<center>
	<h1>Bonjour<%= @user.username %></h1>
	<p>Voici ta bio : <%= @user.bio %></p>
	<p>Voici ton email : <%= @user.email%></p>
	</center>
</div>
</body>

