<center>
<br/>
<br/>
<h1>Hahaha, bien essayé, mais ce nom d'utilisateur OU email existe déjà !</h1>

<p>(sois t'es une tête en l'air et t'a oublié de remplir les champs ou que le format d'e-mail n'était pas bon)</p> <br/>
<h3>Essaie encore en cliquant <a href="/"> ici</a></h2>

</center>