<h1>Salutations !<3</h1>
<p>Enregistre toi ici (plz) :</p>

<form action="/create" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	Name : 
	<input type="text" name="username"><br><br>
	Email :
	<input type="text" name="email"><br><br>
	Bio : 
	<input type="text" name="bio">
	<input type="submit" value="Submit">
</form>