
<body>
<div class="container" style='padding-top: 250px'>
<center>
<h1>Salut <%= @user.username %> !</h1><br/>

<p>Voici ton email : <%= @user.email%></p><br/>
<p>Voici ta bio : <%= @user.bio %></p>
</center>
</div>
</body>